<!DOCTYPE html>
<html>
<head>
    <title>Главное меню</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline;
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            color: #333;
        }
        a:hover {
            color: #007BFF;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'games' %}">Магазин</a></li>
                <li><a href="{% url 'cart' %}">Корзина</a></li>
                <li><a href="{% url 'registration' %}">Регистрация</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li> <!-- Добавляем ссылку на новости -->
            </ul>
        </nav>
    </header>

    <main>
        {% block pagename %}
            <h1>Главная страница</h1>
        {% endblock %}

        {% block content %}
            <p>Добро пожаловать на наш сайт!</p>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Мой сайт</p>
    </footer>
</body>
</html>